<%-include("partials/header") -%>

<h1><%=title%></h1>
<p><%=content%></p>
<form action="/delete" method="POST">
<button class="btn btn-danger" type="submit" name="delete" value="<%=id%>">Delete</button>
</form>

<%-include("partials/footer") -%>